{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "babel-plugin-styled-components",
    "react-refresh/babel"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
